In [1]:
import numpy as np
import pandas as pd
import os, sys
from IPython.display import display

from pycaret.utils import version

In [2]:
train = pd.read_csv('Il_10_Quasi_SMOTE.csv')

In [3]:
from pycaret.classification import *

In [4]:
train.head()

,Class,QSO11,QSO10,QSO13,QSO12,QSO15,QSO14,QSO17,QSO16,QSO19,QSO18,QSO_ex49,QSO_ex48,QSO_ex45,QSO_ex44,QSO_ex47,QSO_ex46,QSO_ex41,QSO50,QSO_ex43,QSO_ex42,QSO48,QSO49,QSO46,QSO47,QSO44,QSO45,QSO42,QSO43,QSO40,QSO41,QSO_ex38,QSO_ex39,QSO_ex30,QSO_ex31,QSO_ex32,QSO_ex33,QSO_ex34,QSO_ex35,QSO_ex36,QSO_ex37,QSO_ex4,QSO_ex5,QSO_ex6,QSO_ex7,QSO_ex1,QSO_ex2,QSO_ex3,QSO_ex8,QSO_ex9,QSO39,QSO38,QSO37,QSO36,QSO35,QSO34,QSO33,QSO32,QSO31,QSO30,QSO_ex29,QSO_ex28,QSO_ex23,QSO_ex22,QSO_ex21,QSO_ex20,QSO_ex27,QSO_ex26,QSO_ex25,QSO_ex40,QSO9,QSO8,QSO1,QSO3,QSO2,QSO5,QSO4,QSO7,QSO6,QSO28,QSO29,QSO20,QSO21,QSO22,QSO23,QSO24,QSO25,QSO26,QSO27,QSO_ex50,QSO_ex24,QSO_ex18,QSO_ex19,QSO_ex16,QSO_ex17,QSO_ex14,QSO_ex15,QSO_ex12,QSO_ex13,QSO_ex10,QSO_ex11
0,1,0.000000,0.018856,0.000000,0.0,0.037698,0.037698,0.000000,0.037698,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.029357,0.024315,0.018121,0.000000,0.000000,0.000000,0.0,0.0,0.018856,0.0,0.018856,0.000000,0.000000,0.037698,0.018856,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.018121,0.024315,0.029357,0.033345,0.056759,0.110710,0.109234,0.091585,0.018856,0.066737,0.086895,0.053071,0.0,0.0,0.000000,0.000000,0.018856,0.037698,0.0,0.018856,0.000000,0.018856,0.056759,0.033345,0.018856,0.091585,0.109234,0.110710,0.073220,0.053071,0.086895,0.066737,0.0,0.073220,0.00000,0.0,0.037698,0.000000,0.037698,0.037698,0.0,0.000000,0.018856,0.000000
1,1,0.000000,0.052257,0.000000,0.0,0.017520,0.052257,0.017520,0.034769,0.0,0.01752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.018985,0.008866,0.006224,0.008421,0.005963,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.034769,0.000000,0.017520,0.017520,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.005963,0.008421,0.006224,0.008866,0.018985,0.043778,0.054135,0.110126,0.116347,0.097241,0.000000,0.041428,0.061772,0.069194,0.0,0.0,0.000000,0.000000,0.017520,0.017520,0.0,0.000000,0.034769,0.000000,0.054135,0.043778,0.000000,0.097241,0.116347,0.110126,0.094131,0.069194,0.061772,0.041428,0.0,0.094131,0.01752,0.0,0.034769,0.017520,0.052257,0.017520,0.0,0.000000,0.052257,0.000000
2,1,0.030553,0.030553,0.000000,0.0,0.000000,0.010242,0.000000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027223,0.038234,0.010567,0.031464,0.000000,0.011493,0.0,0.0,0.030553,0.0,0.030553,0.010242,0.000000,0.010242,0.000000,0.010242,0.0,0.0,0.0,0.0,0.0,0.011493,0.000000,0.031464,0.010567,0.038234,0.027223,0.064240,0.046526,0.090111,0.108059,0.126130,0.000000,0.028556,0.096444,0.092175,0.0,0.0,0.010242,0.000000,0.000000,0.010242,0.0,0.030553,0.010242,0.030553,0.046526,0.064240,0.000000,0.126130,0.108059,0.090111,0.064046,0.092175,0.096444,0.028556,0.0,0.064046,0.00000,0.0,0.000000,0.000000,0.010242,0.000000,0.0,0.000000,0.030553,0.030553
3,1,0.000000,0.026335,0.026335,0.0,0.026335,0.052633,0.026335,0.026335,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.023498,0.014675,0.004618,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.052633,0.026335,0.052633,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.004618,0.014675,0.023498,0.042394,0.048095,0.088235,0.104840,0.098577,0.026335,0.057544,0.067767,0.047686,0.0,0.0,0.000000,0.052633,0.052633,0.026335,0.0,0.000000,0.000000,0.000000,0.048095,0.042394,0.026335,0.098577,0.104840,0.088235,0.058703,0.047686,0.067767,0.057544,0.0,0.058703,0.00000,0.0,0.026335,0.026335,0.052633,0.026335,0.0,0.026335,0.026335,0.000000
4,1,0.000000,0.054170,0.027105,0.0,0.027105,0.027105,0.027105,0.027105,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.020947,0.015104,0.004753,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.054170,0.027105,0.054170,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.004753,0.015104,0.020947,0.040258,0.046163,0.089195,0.099734,0.102035,0.027105,0.056417,0.066799,0.045425,0.0,0.0,0.000000,0.054170,0.054170,0.027105,0.0,0.000000,0.000000,0.000000,0.046163,0.040258,0.027105,0.102035,0.099734,0.089195,0.059820,0.045425,0.066799,0.056417,0.0,0.059820,0.00000,0.0,0.027105,0.027105,0.027105,0.027105,0.0,0.027105,0.054170,0.000000

In [5]:
clf1 = setup (data = train,
             target = 'Class',  train_size = 0.80, feature_selection = True, feature_selection_threshold= 0.9, feature_selection_method= 'classic',  fold =5, data_split_stratify = True, session_id=126, log_experiment=True, experiment_name='il-10_transformd_Azure_QUASI')

2021/08/06 23:30:58 WARNING mlflow.tracking.context.git_context: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

In [6]:
best = compare_models()

In [7]:
lightgbm = create_model('lightgbm')

In [8]:
predict_model(lightgbm)

,QSO22,QSO36,QSO46,QSO_ex7,QSO48,QSO_ex11,QSO_ex20,QSO18,QSO_ex5,QSO35,...,QSO_ex13,QSO_ex3,QSO11,QSO_ex41,QSO2,QSO31,QSO14,Class,Label,Score
0,0.087154,0.000000,0.00000,0.000000,0.000000,0.123917,0.123917,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.123917,0.000000,0.000000,0.044568,0.061966,0,0,0.9549
1,0.069348,0.000000,0.00000,0.000000,0.000000,0.000000,0.021027,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.021264,0.000000,1,0,0.9197
2,0.075254,0.000000,0.00000,0.008318,0.000000,0.097339,0.000000,0.005367,0.0000,0.000000,...,0.000000,0.006225,0.070757,0.000000,0.004007,0.008726,0.000000,1,1,0.9893
3,0.080073,0.000000,0.00000,0.013199,0.000000,0.013199,0.026197,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.013199,0.000000,0.000000,0.056818,0.000000,0,0,0.9237
4,0.093224,0.000000,0.00000,0.008124,0.000000,0.018751,0.015662,0.000000,0.0000,0.000000,...,0.000436,0.004012,0.023178,0.000000,0.002582,0.019763,0.000000,1,1,0.9948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,0.076535,0.000000,0.00000,0.011700,0.000000,0.023223,0.011700,0.000000,0.0117,0.000000,...,0.000000,0.000000,0.023223,0.000000,0.023223,0.011055,0.011700,0,0,0.9365
324,0.080566,0.000000,0.00000,0.000000,0.000000,0.000000,0.022822,0.000000,0.0000,0.000000,...,0.000000,0.022822,0.000000,0.000000,0.000000,0.008755,0.045280,0,0,0.9669
325,0.075343,0.000000,0.00000,0.004251,0.000000,0.018098,0.000000,0.036437,0.0000,0.000000,...,0.018409,0.036027,0.018255,0.000000,0.000000,0.026460,0.000000,1,1,0.7976
326,0.097812,0.000000,0.00000,0.000000,0.000000,0.013916,0.000000,0.013916,0.0000,0.000000,...,0.013916,0.013916,0.013916,0.000000,0.000000,0.027163,0.000000,0,0,0.9306
327,0.051006,0.034419,0.01417,0.001954,0.011177,0.007880,0.001954,0.000000,0.0000,0.034822,...,0.000000,0.000000,0.007880,0.025487,0.001954,0.039002,0.009834,1,1,0.9926

In [9]:
et = create_model('et')

In [10]:
predict_model(et)

,QSO22,QSO36,QSO46,QSO_ex7,QSO48,QSO_ex11,QSO_ex20,QSO18,QSO_ex5,QSO35,...,QSO_ex13,QSO_ex3,QSO11,QSO_ex41,QSO2,QSO31,QSO14,Class,Label,Score
0,0.087154,0.000000,0.00000,0.000000,0.000000,0.123917,0.123917,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.123917,0.000000,0.000000,0.044568,0.061966,0,0,0.90
1,0.069348,0.000000,0.00000,0.000000,0.000000,0.000000,0.021027,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.021264,0.000000,1,0,0.61
2,0.075254,0.000000,0.00000,0.008318,0.000000,0.097339,0.000000,0.005367,0.0000,0.000000,...,0.000000,0.006225,0.070757,0.000000,0.004007,0.008726,0.000000,1,1,0.72
3,0.080073,0.000000,0.00000,0.013199,0.000000,0.013199,0.026197,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.013199,0.000000,0.000000,0.056818,0.000000,0,0,0.68
4,0.093224,0.000000,0.00000,0.008124,0.000000,0.018751,0.015662,0.000000,0.0000,0.000000,...,0.000436,0.004012,0.023178,0.000000,0.002582,0.019763,0.000000,1,1,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,0.076535,0.000000,0.00000,0.011700,0.000000,0.023223,0.011700,0.000000,0.0117,0.000000,...,0.000000,0.000000,0.023223,0.000000,0.023223,0.011055,0.011700,0,0,0.85
324,0.080566,0.000000,0.00000,0.000000,0.000000,0.000000,0.022822,0.000000,0.0000,0.000000,...,0.000000,0.022822,0.000000,0.000000,0.000000,0.008755,0.045280,0,0,0.80
325,0.075343,0.000000,0.00000,0.004251,0.000000,0.018098,0.000000,0.036437,0.0000,0.000000,...,0.018409,0.036027,0.018255,0.000000,0.000000,0.026460,0.000000,1,1,0.67
326,0.097812,0.000000,0.00000,0.000000,0.000000,0.013916,0.000000,0.013916,0.0000,0.000000,...,0.013916,0.013916,0.013916,0.000000,0.000000,0.027163,0.000000,0,0,0.75
327,0.051006,0.034419,0.01417,0.001954,0.011177,0.007880,0.001954,0.000000,0.0000,0.034822,...,0.000000,0.000000,0.007880,0.025487,0.001954,0.039002,0.009834,1,1,1.00

In [11]:
catboost = create_model('catboost')

In [12]:
predict_model(catboost)

,QSO22,QSO36,QSO46,QSO_ex7,QSO48,QSO_ex11,QSO_ex20,QSO18,QSO_ex5,QSO35,...,QSO_ex13,QSO_ex3,QSO11,QSO_ex41,QSO2,QSO31,QSO14,Class,Label,Score
0,0.087154,0.000000,0.00000,0.000000,0.000000,0.123917,0.123917,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.123917,0.000000,0.000000,0.044568,0.061966,0,0,0.9089
1,0.069348,0.000000,0.00000,0.000000,0.000000,0.000000,0.021027,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.021264,0.000000,1,0,0.8386
2,0.075254,0.000000,0.00000,0.008318,0.000000,0.097339,0.000000,0.005367,0.0000,0.000000,...,0.000000,0.006225,0.070757,0.000000,0.004007,0.008726,0.000000,1,1,0.7496
3,0.080073,0.000000,0.00000,0.013199,0.000000,0.013199,0.026197,0.000000,0.0000,0.000000,...,0.000000,0.000000,0.013199,0.000000,0.000000,0.056818,0.000000,0,0,0.8406
4,0.093224,0.000000,0.00000,0.008124,0.000000,0.018751,0.015662,0.000000,0.0000,0.000000,...,0.000436,0.004012,0.023178,0.000000,0.002582,0.019763,0.000000,1,1,0.8981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,0.076535,0.000000,0.00000,0.011700,0.000000,0.023223,0.011700,0.000000,0.0117,0.000000,...,0.000000,0.000000,0.023223,0.000000,0.023223,0.011055,0.011700,0,0,0.7475
324,0.080566,0.000000,0.00000,0.000000,0.000000,0.000000,0.022822,0.000000,0.0000,0.000000,...,0.000000,0.022822,0.000000,0.000000,0.000000,0.008755,0.045280,0,0,0.8614
325,0.075343,0.000000,0.00000,0.004251,0.000000,0.018098,0.000000,0.036437,0.0000,0.000000,...,0.018409,0.036027,0.018255,0.000000,0.000000,0.026460,0.000000,1,1,0.5874
326,0.097812,0.000000,0.00000,0.000000,0.000000,0.013916,0.000000,0.013916,0.0000,0.000000,...,0.013916,0.013916,0.013916,0.000000,0.000000,0.027163,0.000000,0,0,0.8123
327,0.051006,0.034419,0.01417,0.001954,0.011177,0.007880,0.001954,0.000000,0.0000,0.034822,...,0.000000,0.000000,0.007880,0.025487,0.001954,0.039002,0.009834,1,1,0.9648